*, *::before, *::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: Quicksand, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f3f5f7;
    font-weight: 400;
}
h3 {
    font-size: 20px;
    font-weight: 600;
}
h3 span {
    font-weight: 400;
}
h3 small {
    display: block;
    font-size: 14px;
    font-weight: 200;
    color: #667;
}
.container {
    margin: auto;
    width: 850px;
}
.header {
    color: white;
    padding: 30px 0;
    margin-bottom: 25px;
    background-color: #39CA86;
    box-shadow: 0 1px 4px 0 rgb(0 0 0 / 20%);
}

.title {
    margin: 5px 0 15px 0;
    font-weight: 800;
}

.input-group {
    display: flex;
    align-items: center;
    position: relative;
    padding: 18px 4px;
    border-radius: 4px;
    background-color: rgba(255, 255, 255, .2);
    box-shadow: none;
    transition: background-color .4s ease, box-shadow .4s ease;
}
.input-group:hover {
    background-color: rgba(255, 255, 255, .3);
    box-shadow: 0 3px 8px rgba(127, 127, 127, .1);
}
.input-group:focus-within {
    background-color: white;
    box-shadow: 0 4px 16px rgba(64, 64, 64, .25);
}

input { font-family: Quicksand, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; }
#message {
    width: calc(100% - 30px);
    padding: 0;
    font-size: 16px;
    font-weight: 300;
    letter-spacing: 1px;
    color: white;
    border: none;
    outline: none;
    border-radius: 4px;
    background-color: transparent;
}

#message::placeholder {
    color: rgba(255, 255, 255, .75);
}
#message-icon {
    margin: -2px 15px 0 15px;
}
#message-icon path {
    fill: white;
}
.input-group:focus-within #message-icon path,
.input-group:focus-within #message,
.input-group:focus-within #message::placeholder {
    fill: #889;
    color: #889;
}


.encryption-group {
    margin-bottom: 30px;
}
.encryption-group h3 {
    margin: 10px 0;
}
.encrypted {
    display: flex;
    flex-wrap: wrap;
    padding: 15px;
    color: #aa7ee1;
    border-radius: 5px;
    background-color: #222;
    min-height: 38px;
    box-sizing: content-box;
}
.encrypted span {
    color: #ffcb00;
    padding: 4px 8px;
    margin: 5px;
    background-color: #444;
}
.encrypted span:last-of-type {
    animation: slideup .3s forwards;
}

.encrypted span.not-letter {
    color: #01fded;
}


@media only screen and (max-width: 860px) {
    .container {
        width: calc(100vw - 40px);
    }
    .title {
        margin-top: 0;
    }
}

@keyframes slideup {
    0% {
        transform: translateY(4px);
    }
    100% {
        transform: translateY(0);
    }
}