body {
    margin: 0;
    padding: 0;
    background-color: #2a2a2a;
}
.header {
    padding: 40px 20px;
    text-align: center;
    font-family: 'Press Start 2P', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #eee;
    background-color: #333;
    font-size: 24px;
}
.scoreboard {
    display: block;
    text-align: center;
    margin: 30px auto 15px auto;
    color: #eee;
    font-size: 12px;
    font-family: 'Press Start 2P', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.scoreboard .title {
    font-size: 10px;
    color: #777;
}
.scoreboard .score {
    margin-right: 20px;
}
canvas {
    display: block;
    margin: auto;
    background-color: #222;
    border: 10px solid #333;
}
